.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    padding: 20px;
    border-radius: 50px;
    background-color: hsl(0, 0%, 100%);
    transform: translateY(-30px) translateX(50px);
    box-shadow: 0px 5px 10px 1px hsl(240, 18%, 77%);
}

.buttons i{
    color: hsl(240, 18%, 77%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.buttons i:hover{
    color: hsl(240, 38%, 20%);
}

@media(max-width:800px){
    .buttons{
        transform: translateY(-30px) translateX(150px);
    }
}

@media(max-width:500px){
    .buttons{
        transform: translateY(-30px) translateX(100px);
    }
}