@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

@media(max-width:800px){
    .container{
        height: 100%;
    }
}